.container {
    margin: 0 auto;
    width: 100%;
    --bs-gutter-x: 0;

}

.bottom-0 {
    bottom: 450px !important;
}

#img-container {
    position: relative;
    text-align: center;
    width: 100%;
}

.post-img {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 250px;
}

#cancel-unsave {
  left: -100px;
}

#yes-unsave {
  left: 0;
}
#save-btn:hover {
    cursor: pointer;
}



/* Style the bottom navbar */
#home-container {
    position: relative;
    display: inline-block;
    height: 50px;
  }
  
  #home-btn{
    position: absolute;
    left: 50%;
    transform:  translateX(-50%);
  }
  
  #home-sig {
    display: block;
    text-align: center;
    padding-top: 30px;
  }

  
  #post-container {
    position: relative;
    display: inline-block;
    height: 50px;
  }
  
  #create-post-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #create-post-sig {
    display: block;
    text-align: center;
    padding-top: 30px;
  }
  
  #notification-container {
    position: relative;
    display: inline-block;
    height: 50px;
  }
  
  #notification-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #notification-sig {
    display: block;
    text-align: center;
    padding-top: 30px;
  }
  
  #account-container {
    position: relative;
    display: inline-block;
    height: 50px;
  }
  
  #account-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #account-sig {
    display: block;
    text-align: center;
    padding-top: 28px;
  }
  
  #post-saved {
    display: none;
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
  }

  #save-btn-clicked{
    width: 35px;
    position: absolute;
    top: 500px;
    right: 10px;
    display: none;
  }

  .container-review {
    width: 94%;
  }
  
  .material-icons{
    cursor: pointer;
}

#search-bar {

  width: 50%;
  position: relative;
  margin: 0 auto;
  margin-left: 20px;
  margin-bottom: 70px;
}

#search-field {
  padding-left: 80px;
  height: 40px;
  background-color: #ededed;
  border-radius: 30px;
  display: none;
}

#search-icon {
  color: #999;
  position: absolute;
  left: 30px;
  top: 15%;
  transform: translateX(-50%);
  display: none;
}

#back-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#back-icon {
  /* color: white; */
  opacity: 1.0;
}

#cart-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 60px;
}

#toggle-menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
}

#search-icon:hover{
  cursor: pointer;
}

#top-navbar {
  --bs-navbar-padding-y: 0;
  height: 80px;
  padding-top: 20px;
}

#bookmark-container {
  position: absolute;
  bottom: -20px;
  right: 30px;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgb(241, 240, 240);

}

.cart {
  position: initial;
  right: initial;
  bottom: initial;
}

.green-outline-cart {
  color: green;
}

h1 {
  margin: 20px 20px 0;
}

#content {
  margin: 0 20px 200px;
}

#farm {
  font-style: italic;
}

#btn-group{
  position: relative;
  display: flex;
  width: 100%;
  float: left;
  margin: 30px 0;
}

#message-container, #review-btn {
  width: 40%;
  float: left;
  left: 28%;
  transform: translateX(-50%);
  border-radius: 30px;
}

#chat-btn {
  left: 15%;
  bottom: 20%;
}

button {
  margin-right: 20px;
}

.material-icons {
  color: green;
}

.card {
  width: 95%;
  border: none;
  margin: 20px;
}

#big-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: max-content;
  padding-bottom: 150px;
}

#post-container {
  grid-row: 1;
}

#review-container {
  grid-row: 2;
  margin-top: 300px;
}

#googleMap {
  grid-row: 3;
}

h2 {
  margin-left: 20px;
}

.card-container {
  padding: 0 20px;
}

#review-images {
  width: 100px;
  height: auto;
}

#bottom-navbar {
  height: 100px;
  background-color: green;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#navbar-bottom {
  position: relative;
  
}

#chat-container {
  position:absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -10px;
  left: 30px;
  cursor: pointer;
}

#add-cart-container {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -10px;
  left: 100px;
  cursor: pointer;
}

#buy-container {
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: green;
  color: white;
  border-radius: 30px;
  border: 4px solid white;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -10px;
  font-size: 14pt;
  cursor: pointer;
}

#buy-container:hover {
  background-color: white;
  color: green;
}

#add-cart-container:hover {
  background-color: green;
  color: white;
  border: white 5px solid;
  border-radius:
   50%;
}

#chat-container:hover {
  background-color: green;
  color: white;
  border: white 5px solid;
  border-radius: 50%;
}

#border-style {
  position: absolute;
  width: 100px;
  height: 8px;
  background-color: white;
  border: solid white;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
}


/* Only shows when click on add to cart or buy */
#cart-menu-option {
  height: 500px;
  background-color: green;
  border-radius: 50px;
  display: none;
}

#cart-menu {
  position: relative;
}

#add-cart-container-cart{
  position: absolute;
  width: 180px;
  height: 60px;
  background-color: gray;
  color: white;
  border-radius: 30px;
  border: 5px solid white;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  font-size: 14pt;
  pointer-events: none;
}

#add-cart-icon-cart{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 2px;
}

#add-to-cart {
  margin-left: 5px;
}
#buy-container-cart{
  position: absolute;
  width: 180px;
  height: 60px;
  background-color: gray;
  color: white;
  border-radius: 30px;
  border: 5px solid white;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  font-size: 14pt;
  pointer-events: none;
}

#range-option {
  position:absolute;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -120px;
  left: 30px;
}

#range-text {
  width: 20%;
  color: white;
  font-size: 14pt;

}

#range-input {
  width: 75%;
  margin-left: 20px;
}

#delivery-options {
  position:absolute;
  width: 85%;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  left: 30px;
}

#select-quantity {
  position:absolute;
  width: 85%;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -100px;
  left: 30px;
}

#quantity-text {
  position:absolute;
  left: 20px;
  bottom: 60px;
  font-size: 14pt;
  color: white;
}

#quantity-adjust {
  width: 50%;
  display: flex;
  float: left;
  justify-content: space-evenly;
  align-items: center;
}

#decrement {
  color: green;
  cursor: pointer;
}

#increment {
  color: green;
  cursor: pointer;
}

#total-price {
  width: 50%;
  background-color: green;
  border-radius: 30px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

#pickup {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: green;
  color: white;
  border-radius: 30px;
  margin-left: 5px;
  cursor: pointer;
}

#delivery {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 30px;
  margin-right: 5px;
  cursor: pointer;
}

#border-style-cart{
  position: absolute;
  width: 100px;
  height: 8px;
  background-color: white;
  border: solid white;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
}

