.signup {
    padding-top: 40px;
    color: green;
}

.p-5 {
    text-align: center;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.btn{
    background-color: white;
    color: green;
    border: solid;
    border-color: green;
}

.btn:hover {
    background-color: green;
    color: white;
    border:solid;
}

.navbar-toggler {
    border: solid;
}

.col-md-8-fs-4 {
    font-size: 20pt;
    text-align: center;
}