.container {
    margin: 0 auto;
    width: 97%;
}

.bottom-0 {
    bottom: 450px !important;
}

#img-container {
    position: relative;
    text-align: center;
}

#save-btn {
    width: 35px;
    position: absolute;
    top: 500px;
    right: 10px;
    fill: white;
}

#save-btn:hover {
    cursor: pointer;
}

#review-btn{
    position: absolute;
    bottom: 5px;
    right: 10px;
}

/* Style the bottom navbar */
#home-container {
    position: relative;
    display: inline-block;
    height: 50px;
  }
  
  #home-btn{
    position: absolute;
    left: 50%;
    transform:  translateX(-50%);
  }
  
  #home-sig {
    display: block;
    text-align: center;
    padding-top: 30px;
  }
  
  #message-container {
    position: relative;
    display: inline-block;
    height: 50px;
  }
  
  #chat-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #chat-sig {
    display: block;
    text-align: center;
    padding-top: 30px;
  }
  
  #post-container {
    position: relative;
    display: inline-block;
    height: 50px;
  }
  
  #create-post-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #create-post-sig {
    display: block;
    text-align: center;
    padding-top: 30px;
  }
  
  #notification-container {
    position: relative;
    display: inline-block;
    height: 50px;
  }
  
  #notification-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #notification-sig {
    display: block;
    text-align: center;
    padding-top: 30px;
  }
  
  #account-container {
    position: relative;
    display: inline-block;
    height: 50px;
  }
  
  #account-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #account-sig {
    display: block;
    text-align: center;
    padding-top: 28px;
  }
  
  #post-saved {
    display: none;
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
  }

  #save-btn-clicked{
    width: 35px;
    position: absolute;
    top: 500px;
    right: 10px;
    display: none;
  }

  .container-review {
    margin-top: 600px;
  }
  
  .material-icons{
    cursor: pointer;
}