.container {
    margin-top: 20px;
}

.d-flex {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
}

.justify-content-end {
    justify-content: center !important;
}

.btn {
    width: 60px;
    border: thin solid;
}

/* Style the bottom navbar */
#home-container {
    position: relative;
    display: inline-block;
    height: 50px;
  }
  
  #home-btn{
    position: absolute;
    left: 50%;
    transform:  translateX(-50%);
  }
  
  #home-sig {
    display: block;
    text-align: center;
    padding-top: 30px;
  }
  
  #message-container {
    position: relative;
    display: inline-block;
    height: 50px;
  }
  
  #chat-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #chat-sig {
    display: block;
    text-align: center;
    padding-top: 30px;
  }
  
  #post-container {
    position: relative;
    display: inline-block;
    height: 50px;
  }
  
  #create-post-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #create-post-sig {
    display: block;
    text-align: center;
    padding-top: 30px;
  }
  
  #notification-container {
    position: relative;
    display: inline-block;
    height: 50px;
  }
  
  #notification-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #notification-sig {
    display: block;
    text-align: center;
    padding-top: 30px;
  }
  
  #account-container {
    position: relative;
    display: inline-block;
    height: 50px;
  }
  
  #account-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #account-sig {
    display: block;
    text-align: center;
    padding-top: 28px;
  }
  
  #search-bar {

    width: 95%;
    position: relative;
    margin: 0 auto;
    margin-left: 20px;
  }
  
  #search-field {
    padding-left: 100px;
    height: 50px;
    background-color: #ededed;
    border-radius: 30px;
  }
  
  #search-icon {
    color: #999;
    position: absolute;
    left: 50px;
    top: 35%;
    transform: translateX(-50%);
  }