body {
    background-color: rgb(238, 239, 239);
}

#cart-body {
    margin-top: 110px;
    position: relative;
    height: 100%
}

#top-navbar {
    width: 100%;
    background-color: white;
    height: 70px;
}

.container-fluid {
    height: 65px;
    background-color: green;
    margin-top: 40px;
}

#select-all {
    box-shadow: 0 0 5px 0 rgb(202, 201, 201);
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
}

#delete {
    position: absolute;
    right: 0;
    margin: 0 30px;
    color: green;
    font-weight: bold;
}

#delete:hover {
    cursor: pointer;
    ;
}

.farm-info {
    height: 60px;
    border-bottom: thin solid rgb(238, 239, 239);
    display: flex;
    align-items: center;
}

.select-quantity {
    background-color: rgb(238, 239, 239);
}

.per-order {
    position: relative;
    background-color: white;
    box-shadow: 0 0 5px 0 rgb(202, 201, 201);
    height: 300px;
    margin-bottom: 30px;

}

.product-image {
    position: absolute;
    right: 30px;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    top: 30%;
}

.select-quantity {
    position: absolute;
    right: 100px;
    display: flex;
    bottom: 20px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
}

.decrement {
    position: absolute;
    right: 90px;
    bottom: 10px;
    color: green;
}

.decrement:hover {
    cursor: pointer;
}

.quantity-num {
    position: absolute;
    right: 60px;
}

.increment {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: green;
}

.increment:hover {
    cursor: pointer;
}

.trash-bin {
    background-color: rgb(238, 239, 239);
    position: absolute;
    right: 30px;
    bottom: 20px;
    height: 30px;
    width: 40px;
    border-radius: 10px;
    padding: 10px;
}

.trash-bin:hover {
    cursor: pointer;
}

.ionicon {
    width: 20px;
}

.form-check-input:checked {
    background-color: green;
    border-color: green;
}

.form-check {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.product-img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.item-checked {
    margin-top: 30px;
}

#back-btn {
    color: white;
}

#back-btn:hover {
    cursor: pointer;
}

#chat-container {
    position: absolute;
    right: 20px;
    color: white;
}

#chat-container:hover {
    cursor: pointer;
}

.farm-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
}

.farm-name {
    margin-left: 10px;
}

.cart-content {
    display: block;
    margin-left: 30px;
}

.quantity {
    font-weight: lighter;
    font-size: smaller;
    margin-left: 10px;
}

.product-name {
    margin-left: 10px;
}

.price {
    margin-left: 10px;
}

#continue-footer {
    display: flex;
    justify-content: center;
}

#continue {
    position: relative;
    background-color: green;
    color: white;
    width: 90%;
    display: flex;
    align-items: center;
    height: 65px;
    border-radius: 50px;
    margin-bottom: 10px;
}

#cont-text {
    position: absolute;
    left: 20px;
    font-size: 14pt;
    font-weight: bold;

}

#forward {
    position: absolute;
    right: 20px;
    opacity: 0.5;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.4;
}

#forward:hover {
    cursor: pointer;
}

#cont-icon {
    position: absolute;
    right: 28px;
}

#cont-icon:hover {
    cursor: pointer;
}

.form-check-input:hover {
    cursor: pointer;
}

.select-all:hover {
    cursor: pointer;
}

footer {
    background-color: white;
    border: none;
}

#cart-go-here {
    margin-bottom: 120px;
}