.signup {
    padding-top: 40px;
    color: #00610e;
}

.p-5 {
    text-align: center;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 40px;
    
}

.btn{
    background-color: white;
    color: #00610e;
    border: solid;
    border-color: #00610e;
}

.btn:hover {
    background-color: #00610e;
    color: white;
    border:solid;
}

.navbar-toggler {
    border: solid;
}


.row {
    padding-top: 50px;
    margin: auto;
}

.card-body {
    height: 80px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #00610e;
    
}

.d-flex {
    width: 50%;
    height: 30px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.navbar-toggler {
    width: 40px;
    height: 40px;
    border: none;
    
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

.btn-outline-success {
    border: solid white;
    background-color: #00610e;
}
.cart {
    color: white;
}

.col-md-8-fs-4 {
    text-align: left;
}

.container-fluid {
    margin-left: 1px;
}